In [24]:
import pandas as pd 
import numpy as np

In [56]:
read= pd.read_csv('plink2P.txt',sep='\s+')

In [57]:
read.head()

,#CHROM,POS,ID,REF,ALT,A1,TEST,OBS_CT,OR,LOG(OR)_SE,Z_STAT,P
0,1,1045729,rs3934834,C,T,T,ADD,4000,0.994453,0.060889,-0.091360,0.927206
1,1,1070488,rs6687776,C,T,T,ADD,4000,0.985225,0.086281,-0.172520,0.863029
2,1,1071463,rs9651273,G,A,A,ADD,4000,0.980704,0.046531,-0.418736,0.675409
3,1,1089873,rs12726255,A,G,G,ADD,4000,1.014170,0.096860,0.145266,0.884501
4,1,1104902,rs2298217,C,T,T,ADD,4000,1.016780,0.074477,0.223411,0.823216

In [60]:
INT=read[read['P']<10 ** -8]

In [79]:
print('count is:{}'.format(INT.count()[0]))
print(INT['P'].idxmin())
print(INT.loc[100627])

count is:59
100627
#CHROM                  6
POS              32521295
ID              rs2395182
REF                     T
ALT                     G
A1                      G
TEST                  ADD
OBS_CT               4000
OR               0.417969
LOG(OR)_SE      0.0529608
Z_STAT           -16.4716
P             5.87347e-61
Name: 100627, dtype: object

In [80]:
snp = INT['ID'].tolist()

In [81]:
snp[0:11]

['rs2176717',
 'rs882300',
 'rs2546890',
 'rs535586',
 'rs659445',
 'rs2072633',
 'rs437179',
 'rs592229',
 'rs389883',
 'rs1053924',
 'rs3134603']

In [82]:
type(snp)

list

In [83]:
with open('significantsnp.txt', 'w') as f:
    for item in snp:
        f.write("%s\n" % item)

[]